h1 {
  font-family: "Song Myung", sans-serif;
  font-weight: 600;
  font-size: 50px;
  text-align: center;
  margin-top: 2vw;
}

.MyInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.MyInfo > .picture {
  margin-top: 7vh;
}

.MyInfo > .content {
  display: flex;
  flex-direction: column;

  box-sizing: content-box;

  font-family: "Grandiflora One", serif;
  font-size: 23px;
}

.MyInfo > .content > p {
  margin-bottom: 2vh;
}

.MyInfo > .content > .Info_Content {
  margin-top: 7vh;
}

h2 {
  margin-top: 10vh;
}

.MyInfo > .content > .WorkStyle {
  font-family: "Grandiflora One", cursive;
}
